[color]
	ui = true
[user]
	email = matt@goinstant.com
	name = Matt Creaser
[core]
	editor = /usr/bin/vim
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
